services:
  - type: web
    name: ocr-scanner
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      sudo apt-get update
      sudo apt-get install -y tesseract-ocr poppler-utils
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
